<p>rooms works!</p>
<!--for header component title property-->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<!--How to use data binding-->
<p>this is interpolation binding to access .ts file data. just put 
    variable name inside double curly bracket:{{hotelname}}</p>
<!-- this is property binding method-->
<!--Use any valid property on that particular element-->

<div [hidden]="hideRooms">
    <p [ngStyle]="{'color': rooms!.availableRooms ? 'green' : 'pink'}">Number of Rooms</p>
    <div [innerText]="numberOfRooms"></div>
</div>
<button (click)="toggle()">toggle</button>
<!--Use event binding-->

<!--Using ngif with optional chaining -->
<!-- ngIf checks whether condition true or false, If true than content is available otherwise not-->
<div *ngIf="rooms?.availableRooms">Available Rooms</div>
<!--if availableRooms not available than show this-->
<!-- double Question mark is working as OR -->
{{rooms?.availableRooms ?? 'No Room Available'}}
<div>
    <button (click)="addRoom()">Add Room</button>
</div>
<hinv-room-list [rooms] = "RoomList" [title]="Title"
(selectedRoom)="selectRoom($event)"></hinv-room-list>
<p>your room</p>
<div *ngIf="yourRoom">{{yourRoom | json}}</div>