<p>rooms works!</p>
<!--for header component title property-->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<!--lets how data will appear after accessing through async instead of subscribe method-->
<!--{{rooms$ | async | json}}-->
<!--How to use data binding-->
<p>this is interpolation binding to access .ts file data. just put 
    variable name inside double curly bracket:{{hotelname}}</p>
<!-- this is property binding method-->
<!--Use any valid property on that particular element-->

<div [hidden]="hideRooms">
    <p [ngStyle]="{'color': rooms!.availableRooms ? 'green' : 'pink'}">Number of Rooms</p>
    <div [innerText]="numberOfRooms"></div>
</div>
<button (click)="toggle()" class="btn btn-primary">toggle</button>
<!--Use event binding-->
<button (click)="editRoom()" class="btn btn-success">Edit Room</button>
<button (click)="deleteRoom()" class="btn btn-dark">Delete 2nd Room</button>
<button (click)="getPhotos()" class="btn btn-secondary">jsonRequest</button>
<h1>{{totalBytes}}</h1>
<!--Using ngif with optional chaining -->
<!-- ngIf checks whether condition true or false, If true than content is available otherwise not-->
<div *ngIf="rooms?.availableRooms">Available Rooms</div>
<!--if availableRooms not available than show this-->
<!-- double Question mark is working as OR -->
{{rooms?.availableRooms ?? 'No Room Available'}}
<div>
    <button (click)="addRoom()" class="btn btn-primary">Add Room</button>
</div>
<!--now instead on assigning roomlist we will assign room$ and use async pipe of angular-->
<!-- <hinv-room-list [rooms] = "rooms$ | async " [title]="Title"
(selectedRoom)="selectRoom($event)" *ngIf="hideRooms || rooms$">
</hinv-room-list> -->
<!-- the above approach will make api call for every instance -->
<div *ngIf=" rooms$ | async as roomData" >
    <hinv-room-list [rooms] = "roomData" (selectedRoom)="selectRoom($event)">
    </hinv-room-list>
</div>
<p>your room</p>
<div *ngIf="yourRoom">{{yourRoom | json}}</div>