<!-- <p>{{ room | json}} </p> -->
<strong>valid: </strong> {{ngForm.valid}} <!--this will be true after passing every validation-->
<!--your validation must match with your backend. both must have same validation-->
<strong>pristine:</strong> {{ngForm.pristine}}
<strong>dirty:</strong> {{ngForm.dirty}}

<p>{{ngForm.value |json}}</p>
<div class="alert alert-success" *ngIf="successMessage !== '' ">
    {{successMessage}}
</div>
<form (ngSubmit)="addRoom()" #ngForm="ngForm">
    <div class="form-group">
        <input 
        required min="5" max="50" 
        class="form-control" type="number" name="roomNumber" 
        placeholder="roomNumber" 
        [(ngModel)]="room.roomNumber" #roomNumber="ngModel" >
        <div *ngIf="roomNumber.errors"> {{roomNumber.errors | json}}</div>
    </div>
    <div class="form-group">
        <input 
        required minlength="5" maxlength="20"
        class="form-control" type="text" name="roomType" placeholder="RoomType" 
        [(ngModel)]="room.roomType" #roomType="ngModel">
        <div>{{roomType.errors |json}}</div>
    </div>
    <div class="form-group">
        <input 
        required minlength="5" maxlength="20"
        class="form-control" type="text" name="amenities" placeholder="Amenities" 
        [(ngModel)]="room.amenities" #amenities="ngModel" >
        <div> {{amenities.errors |json}}</div> 
    </div>
    <div class="form-group">
        <input 
        required max="10000" min="3000"
        class="form-control" type="number" name="price" placeholder="Price" 
        [(ngModel)]="room.price"  #price="ngModel" >
        <div>{{price.errors |json}}</div>
    </div>
    <div class="form-group">
        <input 
        required 
        class="form-control" type="datetime" name="checkInTime" placeholder="checkInTime"
        [(ngModel)]="room.checkInTime"  #checkInTime="ngModel" >
        <div *ngIf="checkInTime.errors">{{checkInTime.errors|json}}</div>
    </div>
    <div class="form-group">
        <input 
        required 
        class="form-control" type="datetime" name="checkOutTime" placeholder="checkOutTime"
        [(ngModel)]="room.checkOutTime" #checkOutTime="ngModel" >
        <div *ngIf="checkOutTime.errors">{{checkOutTime.errors|json}}</div>
    </div>
    <div class="form-group">
        <input 
        required min="1" max="10"
        class="form-control" type="number" name="rating" placeholder="Rating" 
        [(ngModel)]="room.rating" #rating="ngModel" >
        <div *ngIf="rating.errors?.['min'] || rating.errors?.['max']">{{rating.errors |json}}</div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit" [disabled]="ngForm.invalid">
            Submit
        </button>
    </div>

</form>