<!-- <h3>this is roomsBooking component showing roomid</h3>
<p>{{id$ | async }}</p> -->
<p><strong>bookingForm values</strong>{{bookingForm.value  | json}}</p>
<p><strong>pristine</strong>{{bookingForm.pristine}}, <strong>dirty</strong>{{bookingForm.dirty}}</p>


    <form class="example-form"[formGroup]="bookingForm" (ngSubmit)="formSubmit()">
    <div>
      <button matButton="filled" type="button" (click)="addPassport()">Add Passport</button>
      <!--before clicking the Add Passport we don't have this control so we use ng if -->
      <button matButton="filled" type="button" (click)="removePassport()">Delete Passport</button>
    </div>
    
    @if (bookingForm.get('passportNo')) {
        <mat-form-field class="example-full-width">
          <mat-label>passport Number</mat-label>
          <input matInput  type="text" formControlName="passportNo">
        </mat-form-field>
      }

  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input matInput placeholder="room ID" 
        type="text" formControlName="roomId"
    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Guest Email</mat-label>
    <input matInput placeholder="Enter you email" 
        type="text" formControlName="guestEmail"
    >
  </mat-form-field>

  <mat-form-field>
  <mat-label>checkinDate</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="checkinDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field>
  <mat-label>checkoutDate</mat-label>
  <input matInput [matDatepicker]="picker1" formControlName="checkoutDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>bookingStatus</mat-label>
    <input matInput placeholder="bookingStatus" 
        type="text" formControlName="bookingStatus"
    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>bookingAmount</mat-label>
    <input matInput placeholder="bookingAmount" 
        type="text" formControlName="bookingAmount"
    >
  </mat-form-field>

 <mat-form-field>
  <mat-label>Booking Date</mat-label>
  <input matInput [matDatepicker]="picker2" formControlName="bookingDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>mobileNumber</mat-label>
    <input matInput placeholder="mobileNumber" 
        type="number" formControlName="mobileNumber"
    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>guestName</mat-label>
    <input matInput placeholder="guestName" 
        type="text" formControlName="guestName"
    >
  </mat-form-field>

  <div formGroupName="guestAddress">
    <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Address </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
            <mat-label>AddressLine1</mat-label>
            <input matInput placeholder="AddressLine1" 
                type="text" formControlName="AddressLine1">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>AddressLine2</mat-label>
            <input matInput placeholder="AddressLine2" 
                type="text" formControlName="AddressLine2">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" 
                type="text" formControlName="City">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" 
                type="text" formControlName="State">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" 
                type="text" formControlName="Country">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>ZipCode</mat-label>
          <input matInput placeholder="ZipCode" 
              type="number" formControlName="ZipCode">
        </mat-form-field>


  </mat-expansion-panel>

</mat-accordion>
  </div>
  <div formArrayName="guests">
  <mat-accordion>
  <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title> Add Guest</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let guest of guests.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
            <mat-label>Guest Name</mat-label>
            <input matInput type="text" formControlName="guestName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Guest Age</mat-label>
            <input matInput type="number" formControlName="guestAge">
          </mat-form-field>
        </div>
        <div>
            <button matButton="filled" type="button" (click)="removeGuest(i)">Delete Guest</button>
          </div>
      </div>

  </mat-expansion-panel>
  </mat-accordion>
  <button matButton="filled" type="button" (click)="addGuest()">Add Guest</button>
  </div>
  <div>
      <button matButton="filled" type="submit">Book Room</button>
  </div>
</form>
